.layout {
  display: flex;
  height: 100vh;
  width: 100vw;
}

.main {
  flex: 1;
  margin-left: var(--sidebar-width);
  display: flex;
  flex-direction: column;
  min-width: 0;
  overflow: hidden;
}
